<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.zaman.touristbd">

    <application
        android:allowBackup="true"
        android:icon="@drawable/licon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BarisalActivity" />
        <activity android:name=".BarisalDetails" />
        <activity android:name=".ChittagongActivity" />
        <activity android:name=".ChittagongDetails" />
        <activity android:name=".DhakaActivity" />
        <activity android:name=".DhakaDetails" />
        <activity android:name=".KhulnaActivity" />
        <activity android:name=".KhulnaDetails" />
        <activity android:name=".RajshahiActivity" />
        <activity android:name=".RajshahiDetails" />
        <activity android:name=".SylhetActivity" />
        <activity android:name=".SylhetDetails" />
        <activity android:name=".HomeActivity"></activity>
    </application>

</manifest>